<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span>IoT manager</span>
  <div class="spacer"></div>
</div>

<div class="content" role="main">

  <ul>
    <li *ngFor="let vehicle of vehicles">
      {{vehicle.v_name}}
      <ul>
        <li *ngFor="let device of devices">
          <span *ngIf="vehicle.id==device.vehicle_id">{{device.d_name}}</span>
        </li>
      </ul>
    </li>
  </ul>

  <input type="hidden" #selection>

  <div class="card-container">
    <div class="card card-small" (click)="selection.value = 'component'" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
      </svg>

      <span>New Component</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'material'" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
      </svg>

      <span>Angular Material</span>
    </div>


  </div>

  <!-- Terminal -->
  <div class="terminal" [ngSwitch]="selection.value">
    <pre *ngSwitchDefault>ng generate component xyz</pre>
    <pre *ngSwitchCase="'material'">ng add @angular/material</pre>

  </div>

  <!-- Footer -->
  <footer>

  </footer>

</div>

<router-outlet></router-outlet>